<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">
      <div class="box">
      </div>
    </div>
    <div class="col-md-1">
      <div class="box">
        <p>Here we have some text that we want to write</p>
      </div>
    </div>
    <div class="col-md-1">
      <div class="box">
        <h1>Here we have some text that we want to write</h1>
      </div>
    </div>
    <div class="col-md-1">
      <div class="box1">
        <h3>Here we have some text that we want to write</h1>
      </div>
    </div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
    <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
  </div>

  <div class="row circles">
    <div class="col-xs-1 same">.col-xs-9</div>
    <div class="col-xs-1 same">.col-xs-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
    <div class="col-xs-1 same">.col-xs-6<br>Subsequent columns continue along the new line.</div>
    <div class="col-xs-1 same">.col-xs-9</div>
    <div class="col-xs-1 same">.col-xs-9</div>
    <div class="col-xs-1 same">.col-xs-9</div>
    <div class="col-xs-1 same">.col-xs-9</div>
    <div class="col-xs-1 same">.col-xs-9</div>
    <div class="col-xs-1 same">.col-xs-9</div>
    <div class="col-xs-1 same">.col-xs-9</div>
    <div class="col-xs-1 same">.col-xs-9</div>
    <div class="col-xs-1 same">.col-xs-9</div>
    <div class="col-xs-1 same">.col-xs-9</div>

  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-3 same1">
      <div id="triangle_down"></div>
      .col-md-3 .col-md-offset-3</div>
    <div class="col-md-3 col-md-offset-3 same1">.col-md-3 .col-md-offset-3</div>
  </div>

  <div class="row">
    <div class="col-sm-9 same2a">
      Level 1: .col-sm-9
      <div class="row">
        <div class="col-xs-8 col-sm-6 same2b">
          Level 2: .col-xs-8 .col-sm-6
        </div>
        <div class="col-xs-4 col-sm-6 same2b">
          Level 2: .col-xs-4 .col-sm-6
        </div>
      </div>
    </div>
  </div>
</div>
