<!-- This is the lay out for all the pages except for the splash page  -->
<body  class="backg-img">
  <div class="back-menu">
    <nav class="flexing">
      <% 9.times do %>
      <div class="planets">
        <p class="links">link</p>
      </div>
      <% end %>
    </nav>
  </div>
  <div class="text-box">
    <main>
      <article>
      </article>
    </main>
  </div>
  <footer>
    <div class="bottom">
    </div>
  </footer>
</body>
