<section class="hero is-fullheight is-bold custom-hero">
  <div class="hero-body">
    <!-- <div class="container">
      <h1 class="title font-heading">
        John S
      </h1>
      <h2 class="subtitle font-paragraph">
        Welcome's you...
      </h2>
    </div> -->
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-4">
        <div class="circle-text">
          <div>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="hero-body is-fullheight is-bold custom-hero-1">
    <div class="container">
      <!-- <h1 class="title">
        Full Height title
      </h1>
      <h2 class="subtitle">
        Full Height subtitle
      </h2> -->
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third margin-circles-1">
          <div class="circle-text">
            <div>ME</div>
          </div>
      </div>
      <div class="column">
        <div class="circle-text-img margin-circles">
          <div>
          </div>
        </div>
      </div>
      <div class="column margin-circles">
        <div class="circle-text">
          <div>discussion about me
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
