<section class="hero is-fullheight is-bold custom-hero-top">
  <div class="hero-body">
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-4">
        <div class="circle-text">
          <div class="font-heading">I believe geometry is elegant and space is beautiful. Inspired by artists like Mondrian and Kandinsky and using a few colours I sought to understand the use of geometric elements in CSS and HTML to create this website.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="hero-body is-fullheight is-bold custom-hero-mid">
    <div class="container">
      <!-- <h1 class="title">
        Full Height title
      </h1>
      <h2 class="subtitle">
        Full Height subtitle
      </h2> -->
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third margin-circles-1">
          <div class="circle-text-1">
            <div>Besides studying web dev at Coder Factory, I'm also interested in machine intelligence. </div>
          </div>
      </div>
      <div class="column">
        <div class="circle-text-img margin-circles">
        </div>
      </div>
      <div class="column margin-circles">
        <div class="circle-text-1">
          <div>I look forward to combining web dev with machine intelligence. I'm inspired by Google's Deep Mind systems.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
