<!-- navbar, video, and title -->
<header>
  <nav>
    <div class="columns nav-margin">
      <div class="column is-1 is-offset-4">
        <h2 class="vert-center has-text-centered">PROJECTS</h2>
      </div>
      <div class="column is-2">
        <%= image_tag "/assets/logo_transparent_smlr.png", class: "center-logo" %>
      </div>
      <div class="column is-1">
        <h2 class="has-text-centered vert-center">CONTACT</h2>
      </div>
    </div>
  </nav>
  <div class="transparent">
    <%= video_tag 'front_page_vid.mp4', controls: false, autoplay: true, muted: true, loop: true, id: 'bgvid', class: 'fullscreen-bg-video', type: 'video/mp4' %>
  </div>
  <div class="container">
    <div class="content has-text-centered is-large margin-title">
      <h1>Hi, I'm <span class="blue-letter">J</span>ohn <span class="blue-letter">S</span>tewart.</h1>
    </div>
    <div class="content has-text-centered is-large">
      <h2>Web Developer</h2>
    </div>
    <div class="content has-text-centered is-small">
      <p>(Note: not my actual hand though mine does look similar.)</p>
    </div>
  </div>
</header>

<!-- about me and projects -->
<main>
  <div class="container main-start-bot">
  </div>
  <div class="container main-content">
    <div class="content has-text-centered is-large">
      <h1 class="margins-me">about <span class="salmon-letter">me</span></h1>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-1">
        <div class="circle-back">
          <!-- image_tag "/assets/bw_trans_cir_me.png", class: "margins-me-main" %> -->
        </div>
      </div>
      <div class="column is-2">
      </div>
      <div class="column is-4">
        <div class="box">
          this is a box
          <div class="box">
            this is a box
          </div>
        </div>
        <!-- <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">John Smith</p>
                <p class="subtitle is-6">@johnsmith</p>
              </div>
            </div>

            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <a>#css</a> <a>#responsive</a>
              <br>
              <small>11:09 PM - 1 Jan 2016</small>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

</main>
