<section class="b-colr">
  <div class="container-fluid">
    <!-- 1st row  -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="margin-planets">
                <div class="planet-flex-cont">
                    <div class="circle"><h1 class="font-heading">W</h1></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 2nd row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="margin-planets">
                <div class="planet-flex-cont">
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 3rd row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="margin-planets">
                <div class="planet-flex-cont">
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 4th row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="margin-planets">
                <div class="planet-flex-cont">
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 5th row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="margin-planets">
                <div class="planet-flex-cont">
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>

<!-- <div class="columns">
  <div class="column blue">
    <div class="blue">
      <p>this is a clas</p>
    </div>
  </div>
  <div class="column blue">
    <div class="circle-front circle-text">
      <div>ME</div>
    </div>
  </div>
  <div class="column blue">
  </div>
  <div class="column blue">
  </div>
  <div class="column blue">
  </div>
  <div class="column blue">
  </div>
  <div class="column blue">
  </div>
  <div class="column blue">
  </div>
  <div class="column blue">
  </div>
  <div class="column blue">
  </div>
  <div class="column blue">
  </div>
</div>

<div class="circle-front">
  <div>ME</div>
</div>
<div class="circle-front">
  <div>ME</div>
</div>
<div class="circle-front">
  <div>ME</div>
</div>
<div class="circle-front">
  <div>ME</div>
</div>
<div class="circle-front">
  <div>ME</div>
</div>
<div class="circle-front">
  <div>ME</div>
</div>
<div class="circle-front">
  <div>ME</div>
</div>
<div class="circle-front">
  <div>ME</div>
</div> -->
