<section id="gradient-1">
  <div class="container-fluid">
    <!-- 1st row  -->
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="margin-planets">
                <div class="planet-flex-cont">
                    <div class="circle"></div>
                    <div class="box">
                      <div class="circle-top no-b"></div>
                    </div>
                    <div class="circle"></div>
                    <div class="box">
                      <div class="circle-top no-b"></div>
                    </div>
                    <div class="circle"></div>
                    <div class="box">
                      <div class="circle-top no-b"></div>
                    </div>
                    <div class="circle"></div>
                    <div class="box">
                      <div class="circle-top no-b"></div>
                    </div>
                    <div class="circle"></div>
                    <div class="box">
                      <div class="circle-top no-b"></div>
                    </div>
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 2nd row -->
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="margin-planets">
                <div class="planet-flex-cont">
                    <div class="box">
                      <div class="b-circle-2-l"></div>
                    </div>
                    <div class="circle"></div>
                    <div class="box">
                      <div class="b-circle-2-l"></div>
                    </div>
                    <div class="circle"></div>
                    <div class="box">
                      <div class="b-circle-2-l"></div>
                    </div>
                    <div class="circle-c down"></div>
                    <div class="box">
                      <div class="b-circle-2-r"></div>
                    </div>
                    <div class="circle"></div>
                    <div class="box">
                      <div class="b-circle-2-r"></div>
                    </div>
                    <div class="circle"></div>
                    <div class="box">
                      <div class="b-circle-2-r"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 3rd row -->
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="margin-planets">
                <div class="planet-flex-cont">
                    <div class="circle"></div>
                    <div class="mid-box">
                      <div class="circle"></div>
                    </div>
                    <div class="circle"></div>
                    <div class="mid-box">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-c left"></div>
                    <div class="mid-box">
                      <div class="circle"><h3 class="enter"><%= link_to 'ENTER', pages_about_path %></h3></div>
                    </div>
                    <div class="circle-c right"></div>
                    <div class="mid-box">
                      <div class="circle"></div>
                    </div>
                    <div class="circle"></div>
                    <div class="mid-box">
                      <div class="circle"></div>
                    </div>
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 4th row -->
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="margin-planets">
                <div class="planet-flex-cont">
                    <div class="box">
                      <div class="circle-top"></div>
                    </div>
                    <div class="circle-4"></div>
                    <div class="box">
                      <div class="circle-top"></div>
                    </div>
                    <div class="circle-4"></div>
                    <div class="box">
                      <div class="circle-top"></div>
                    </div>
                    <div class="circle-4"></div>
                    <div class="box">
                      <div class="circle-top"></div>
                    </div>
                    <div class="circle-4"></div>
                    <div class="box">
                      <div class="circle-top"></div>
                    </div>
                    <div class="circle-4"></div>
                    <div class="box">
                      <div class="circle-top"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 5th row -->
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="margin-planets">
                <div class="planet-flex-cont">
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                    <div class="box"></div>
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
