<section>
  <div class="container margin-icons">
    <div class="row row-space-1">
    </div>
    <div class="row row-space">
      <div class="col-md-6 col-xs-6 col-sm-6 text-center">
          <a href="https://github.com/alucinare/CFA-ATM-terminal-app"> <img class="hover" src="/assets/atm_app.png" alt="ATM script">
          </a>
      </div>
      <div class="col-md-6 col-xs-6 col-sm-6 text-center">
        <a href="https://github.com/alucinare/CFA-Calc-Chal"> <img class="hover" src="/assets/calc_chal.png" alt="Calc script">
        </a>
      </div>
    </div>
    <div class="row row-space">
      <div class="col-md-6 col-xs-6 col-sm-6 text-center">
        <a href="https://github.com/alucinare/CFA-Temperature-Challenge">
            <img class="hover" src="/assets/temperature.png" alt="Temperature" />
        </a>
      </div>
      <div class="col-md-6 col-xs-6 col-sm-6 text-center">
        <a href="https://github.com/alucinare/CFA-portfolio">
          <img class="hover" src="/assets/portfolio.png" alt="Portfolio" />
        </a>
      </div>
    </div>
    <div class="row row-space">
      <div class="col-md-6 col-xs-6 col-sm-6 text-center">
        <a href="https://github.com/alucinare/CFA-CSS-Zen-Garden">
          <img class="hover" src="/assets/zen_garden.png" alt="Zen Garden Website" />
        </a>
      </div>
      <div class="col-md-6 col-xs-6 col-sm-6 text-center">
        <a href="https://github.com/alucinare/CFA-TrentTracker-Project">
          <img class="hover" src="/assets/trent_tracker.png" alt="Trent Tracker" />
        </a>
      </div>
    </div>
  </div>
</section>
