<div class="container margin-icons">
  <div class="row">
    <div class="col-md-4 col-xs-4 col-sm-4 text-center">
      <i class="devicon-ruby-plain-wordmark skills-icon"></i>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 text-center">
      <i class="devicon-rails-plain-wordmark skills-icon text-center"></i>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 text-center">
       <i class="devicon-html5-plain-wordmark skills-icon"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-xs-4 col-sm-4 text-center">
       <i class="devicon-css3-plain-wordmark skills-icon"></i>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 text-center">
      <i class="devicon-atom-original-wordmark skills-icon"></i>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 text-center">
      <i class="devicon-bootstrap-plain-wordmark skills-icon"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-xs-4 col-sm-4 text-center">
       <i class="devicon-javascript-plain skills-icon"></i>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 text-center">
       <i class="devicon-nodejs-plain skills-icon"></i>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 text-center">
      <i class="devicon-ubuntu-plain-wordmark skills-icon"></i>
    </div>
  </div>
</div>
