@import "bulma";
@import "nav";
@import "footer";
@import "partials";
@import "head";
@import "main";

// * {
//     border: 1px solid red !important;
// }

// fonts

h3, .content h2, .content h1 {
  font-family: 'Oswald', sans-serif;
  z-index: 1;
  color: black;
}

p {
  font-family: 'Roboto Slab', serif;
}
