@import "bulma";
@import "nav";
@import "footer";
@import "partials";
@import "head";
@import "main";

// * {
//     border: 1px solid red !important;
// }

// fonts

.content h1, h2, h3, .content h2 {
  font-family: 'Oswald', sans-serif;
  z-index: 1;
  color: white;
}

p {
  font-family: 'Roboto Slab', serif;
  color: black;
}
