.contact-shadow {
  box-shadow: 0px 0px 45px 0px #888888;
  padding-bottom: 5em;
}

.f-header-pad {
  padding-top: 2em;
  padding-bottom: 2em;
}

//// contact form /////

.contact {
  margin-bottom: 6em;
}

// general style of footer
.footer-custom {
  background-color: rgb(0, 105, 134);
  margin-top: 3em;
  height: 19em;
  width: 100%;

  box-shadow: 0px 0px 45px 7px #888888;
}

.name {
  color: #81002f;
}

.fa-5x {
  font-size: 80px;
  color: #6fc8e8;
}

.social ul li {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  padding: 30px;
}

.footer-custom-pad > h1 {
  padding-top: 2em;
}

.project-image {
   position: relative;
   width: 100%; /* for IE 6 */
}
