.contact-shadow {
  box-shadow: 0px 0px 45px 0px #888888;
  padding-bottom: 5em;
}

.f-header-pad {
  padding-top: 2em;
  padding-bottom: 2em;
}

// general style of footer
.footer-custom {
  background-color: rgb(0, 105, 134);
  color: rgb(77, 208, 225);
  margin-top: 3em;
  height: 21vh;
  width: 100%;

}

.footer-custom > div > div {
  color: rgb(77, 208, 225);
  margin-top: 3em;
  margin-bottom: 3em;
}

// space between icons
.footer-custom div > div > p > a > i {
  padding-left: .7em;
  padding-right: .7em;
}

.name {
  color: #F44336;
}
