// Place all the styles related to the partials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// home

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%    !important;
  height: auto   !important;
  z-index: -100;
}

.transparent {
  background-color: rgba(0, 105, 134, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 106.5%;
}

.margin-title {
  margin-top: 15%;
}


// .home-container {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 200px;
//   right: 0;
//   width: 400px;
//   height: 200px;
//   margin: auto;
// z-index: 3;
// }
