<footer class="footer-custom">
  <div class="container">
    <div class="content has-text-centered footer-custom">
      <p>
        Page by <span class="name">John Stewart</span>
      </p>
      <p>
        <a href="https://www.linkedin.com/in/john-stewart-55330a13b/">
          <i class="fa fa-linkedin-square" aria-hidden="true" ></i>
        </a>
        <a href="https://github.com/alucinare">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a href="mailto:alucinare@gmail.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
