<body>
  <section class="hero is-fullheight is-bold custom-hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title font-heading">
          John S
        </h1>
        <h2 class="subtitle font-paragraph">
          Welcome's you...
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-4">
          <div class="circle-text">
            <div>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="hero-body is-fullheight is-bold custom-hero-1">
      <div class="container">
        <h1 class="title">
          Full Height title
        </h1>
        <h2 class="subtitle">
          Full Height subtitle
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-third margin-circles-1">
            <div class="circle-text">
              <div>ME</div>
            </div>
        </div>
        <div class="column">
          <div class="circle-text-img margin-circles">
            <div>
            </div>
          </div>
        </div>
        <div class="column margin-circles">
          <div class="circle-text">
            <div>discussion about me
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <section class="section background">
    <div class="container">
      <div class="heading">
        <h1 class="title">Section</h1>
        <h2 class="subtitle">
          A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
        </h2>
      </div>
    </div>
    <!-- end of section -->
  <!-- <div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">Vertical...</p>
          <p class="subtitle">Top tile</p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">...tiles</p>
          <p class="subtitle">Bottom tile</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <%= image_tag("venus.png", size: "128x128", :alt => "venus") %>
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">Wide tile</p>
        <p class="subtitle">Aligned with the right tile</p>
        <div class="content">
          <!-- Content -->
        <!-- </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">Tall tile</p>
        <p class="subtitle">With even more content</p>
        <div class="content">
          <!-- Content -->
        <!-- </div>
      </div>
    </article>
  </div> --> -->
<!-- </div> --> -->

  <div class="columns is-third">
    <div class="column red">
    </div>
    <div class="column blue">
      <figure class="image is-square">
          <%= image_tag("venus.png", size: "128x128", :alt => "venus") %>
      </figure>
    </div>
    <div class="column blue">3
    </div>
    <div class="column red">4
    </div>
  </div>
  <div class="columns is-third">
    <div class="column red">
    </div>
    <div class="column blue-1">
      <figure class="image is-square">
          <%= image_tag("venus.png", size: "128x128", :alt => "venus") %>
      </figure>
    </div>
    <div class="column blue">3
    </div>
    <div class="column red">4
    </div>
  </div>
</section>
</body>
<!-- <section class="section">
  <div class="container">
    <div class="heading">
      <h1 class="title">Section</h1>
      <h2 class="subtitle">
        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
      </h2>
    </div>
  </div>
</section> -->
<!-- <div class="tile is-ancestor">
  <div class="tile is-parent is-3 is vertical">
    <div class="tile is-child red">
      <p class="title">One</p>
    </div>
    <div class="tile is-child red">
      <p class="title">One</p>
    </div>
    <div class="tile is-3">
      <div class="tile is-child box blue">
        <figure class="image is-60x60">
            <%= image_tag("venus.png", size: "60x60", :alt => "venus") %>
        </figure>
      </div>
    </div>
    <div class="tile is-3 blue">
      <p class="title">One</p>
    </div>
    <div class="tile is-3 red">
      <p class="title">One</p>
    </div>
</div> -->
