<body>
  <section class="hero is-fullheight is-bold custom-hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title font-heading">
          John S
        </h1>
        <h2 class="subtitle font-paragraph">
          Welcome's you...
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-4">
          <div class="circle-text">
            <div>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="hero-body is-fullheight is-bold custom-hero-1">
      <div class="container">
        <h1 class="title">
          Full Height title
        </h1>
        <h2 class="subtitle">
          Full Height subtitle
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-third">
            <div class="circle-text">
              <div>ME</div>
            </div>
        </div>
        <div class="column is-one-third">
          <div class="circle-text-img">
            <div>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="circle-text">
            <div>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
<!-- <section class="section">
  <div class="container">
    <div class="heading">
      <h1 class="title">Section</h1>
      <h2 class="subtitle">
        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
      </h2>
    </div>
  </div>
</section> -->
