<!DOCTYPE html>
<html>
  <head>
    <title>John Stewart | Web Developer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal portfolio of web development and design projects by John Stewart">
    <meta name="author" content="John Stewart">

    <script src="https://use.fontawesome.com/f14f777a6d.js"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500|Roboto+Slab:300,400" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

    <script src="application.js"></script>

  </head>

  <body>

    <%= yield %>

  </body>
</html>
